---
- name: database
  hostname: database.vagrant
  description: Sybase Database server
  box: generic/centos7
  box_version: "3.1.8"
  cpus: 2
  memory: 2048
  # WSL / Docker Desktop users ? uncomment the above line
  # paravirtprovider: hyperv 
  forward_port:
    - name: ssh
      port: 22
      expose: 42222
  provision:
    meta-data: ./hack/cloud-init/nocloud-net/meta-data.yaml
    user-data: ./hack/cloud-init/nocloud-net/user-data_database.yaml
    cloud-init: ./hack/vagrant/scripts/cloud-init.sh
  packages:
    - ./hack/vagrant/packages/ASE_Suite.linuxamd64.tgz
  files:
    - ./hack/vagrant/files/sysctl.conf
    - ./hack/vagrant/files/interfaces
    - ./hack/vagrant/files/sybase-ase.rs
    - ./hack/vagrant/files/sybase-ase-response.conf
    - ./hack/vagrant/files/sybase.service
  scripts:
    - ./hack/vagrant/scripts/start-server.sh
    - ./hack/vagrant/scripts/stop-server.sh
  install: ./hack/vagrant/scripts/install-ASE.sh

- name: bastion
  hostname: bastion.vagrant
  description: Bastion server
  box: generic/centos7
  box_version: "3.1.8"
  cpus: 1
  memory: 1024
  # WSL / Docker Desktop users ? uncomment the above line
  # paravirtprovider: hyperv 
  forward_port:
    - name: ssh
      port: 22
      expose: 52222
    - name: sybase
      port: 5000
      expose: 5000
  provision:
    meta-data: ./hack/cloud-init/nocloud-net/meta-data.yaml
    user-data: ./hack/cloud-init/nocloud-net/user-data_bastion.yaml
    cloud-init: ./hack/vagrant/scripts/cloud-init.sh
  packages:
    - ./hack/vagrant/packages/ASE_Suite.linuxamd64.tgz
  files:
    - ./hack/vagrant/files/sybase-ocs-response.conf
  install: ./hack/vagrant/scripts/install-OCS.sh
  