use master
go
disk resize name='master', size='200m'
go
if not exists (
    select 1
    from sysdatabases
    where name = '{{ sybase.database.name }}'
)
create database {{ sybase.database.name }} on master = '{{ sybase.database.size }}'
go
exec sp_dboption {{ sybase.database.name }}, 'abort tran on log full', true
go
exec sp_dboption {{ sybase.database.name }}, 'allow nulls by default', true
go
exec sp_dboption {{ sybase.database.name }}, 'ddl in tran', true
go
exec sp_dboption {{ sybase.database.name }}, 'trunc log on chkpt', true
go
exec sp_dboption {{ sybase.database.name }}, 'full logging for select into', true
go
exec sp_dboption {{ sybase.database.name }}, 'full logging for alter table', true
go
exec sp_dboption {{ sybase.database.name }}, 'select into', true
go

-- Generates Error: This command has been ignored.  Extending the log segment on device 'master'", "would leave no space for creating objects in database 'fk_shell'.
-- https://help.sap.com/viewer/29a04b8081884fb5b715fe4aa1ab4ad2/16.0.2.9/en-US/ab667031bc2b10148eb1d029c4f988ca.html?q=sp_extendsegment
-- exec sp_dboption {{ sybase.database.name }}, 'single user', true
-- go

-- use {{ sybase.database.name }}
-- go
-- exec sp_extendsegment 'logsegment', {{ sybase.database.name }}, 'master'
-- go