use master
go
if not exists (
    select 1
    from syslogins
    where name = '{{ sybase.database.user }}'
)
    create login {{ sybase.database.user }} with password '{{ sybase.database.password }}'
else
    print "Login '{{ sybase.database.user }}' already exists"
go